body {
    background: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;

}

.style {
    background: #fff;
    width:400px;
    height:300px;
    position: absolute;
    gap:20px;
}
.button {
    color:green;
    background: greenyellow;
    font-size: 20px;
    border-radius: 15px;
    background: rgba(197, 6, 6, 0.8);
    backdrop-filter: blur(10px);
}
@media (max-width:600px){
    .style {
    width: 60%;
    margin: 0 auto;
    }}


    .zmiana {
        animation: zmiana .5s linear
    }

    @keyframes zmiana {
        from{opacity: 0.3;}
        to{opacity: 1;}
    }

    .container2 {
        background: rgb(148, 136, 136);
        color: white;
        width:400px;
        height:400px;
        justify-content: right;
        position: absolute;
        top:230px;
        left:800px;
    }

    .animacja1{
    animation: animacja1 5s linear infinite;
    }
    @keyframes animacja1 {
        from{transform: translateY(0)}
        to{transform: translateY(-50px)}
    }

    .inputy {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
